/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f4f8;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

h2 {
    color: #34495e;
}

/* Bảng chọn độ khó */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radio-wrapper {
    position: relative;
    height: 38px;
    width: 84px;
    margin: 3px;
}

.radio-wrapper .input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.btn {
    --primary: #ff184c;
    --shadow-primary: #fded00;
    --color: white;
    --font-size: 9px;
    --shadow-primary-hue: 180;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
    --border: 5px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    color: var(--color);
    text-transform: uppercase;
    font-size: var(--font-size);
    letter-spacing: 3px;
    position: relative;
    font-weight: 900;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
    transition: background 0.2s, 0.3s;
}

.input:checked+.btn {
    --primary: #8B00FF;
    --shadow-primary: #00e572;
}

.input:hover+.btn {
    --primary: #cc133c;
    --font-size: 11px;
}

.btn:after,
.btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;
}

.btn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
}

.btn:after {
    background: var(--primary);
}

.btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: normal;
    color: hsl(0, 0%, 0%);
    font-size: var(--label-size);
}

.btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 2s infinite;
    display: none;
}

.input:hover+.btn .btn__glitch {
    display: block;
}

.input:checked+.btn .btn__glitch {
    display: block;
    animation: glitch 5s infinite;
}

.btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
}

@keyframes glitch {
    0% {
        clip-path: var(--clip-one);
    }

    2%,
    8% {
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }

    6% {
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    9% {
        clip-path: var(--clip-two);
        transform: translate(0, 0);
    }

    10% {
        clip-path: var(--clip-three);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    13% {
        clip-path: var(--clip-three);
        transform: translate(0, 0);
    }

    14%,
    21% {
        clip-path: var(--clip-four);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    25% {
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    30% {
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }

    35%,
    45% {
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * -1%));
    }

    40% {
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * 1%));
    }

    50% {
        clip-path: var(--clip-six);
        transform: translate(0, 0);
    }

    55% {
        clip-path: var(--clip-seven);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }

    60% {
        clip-path: var(--clip-seven);
        transform: translate(0, 0);
    }

    31%,
    61%,
    100% {
        clip-path: var(--clip-four);
    }
}

.number {
    background: var(--shadow-primary);
    color: #323232;
    font-size: 5.5px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    width: 15px;
    height: 6px;
    top: 0;
    left: 81%;
    line-height: 6.2px;
}


/* Khu vực game */
#game {
    margin-top: 30px;
}

/* Các ô select */
.choice {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: 2px solid #3498db;
    border-radius: 8px;
    background: #ecf0f1;
    appearance: none;
    /* Ẩn mũi tên mặc định */
}

/* Nút */
button.submit {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 18px;
    background: #3498db;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* From Uiverse.io by alexroumi */
button.reset {
    padding: 15px 25px;
    margin-top: 10px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

button.reset::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button.reset:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

button.submit:hover {
    background: #2980b9;
}

.rule-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.rule-button:hover {
    background: #444;
}

/* Feedback */
#feedback {
    overflow-y: auto;
    margin-top: 20px;
    text-align: left;
    max-width: 420px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#feedback div {
    margin-bottom: 10px;
    font-size: 16px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.response {
    text-align: center;
}

#popup {
    display: none;
    /* Ẩn ban đầu */
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
}

.small-desc {
    font-size: 1em;
}

.card {
    display: block;
    position: relative;
    max-width: 1000px;
    max-height: 920px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover:before {
    transform: scale(28);
}

.card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
}

button.close {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 18px;
    background: red;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 768px) {
    .card {

        max-width: 90%;
        height: 500px;
        margin: 0 auto;
        padding: 1em 0.5em;
    }

    #feedback {

        max-width: 90%;
        height: 450px;

    }
}